<p>Rock Paper Scissors is a game played with the players hands</p>
<p>On the count of three select with Rock, Paper or Scissors</p>
<p>Rock beats Scissors, Paper beats Rock and Scissors beats Paper</p>
<p>So you have an equal chance of winning, good luck!!!</p>
